version: '3.8'

services:
  mysql:
    image: mysql:5.7
    container_name: mysql_esp8266
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: esp8266_db
      MYSQL_USER: espuser
      MYSQL_PASSWORD: esppass
    ports:
      - "3306:3306"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d

  web:
    image: php:7.4-apache
    container_name: web_esp8266
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./www:/var/www/html
    depends_on:
      - mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_esp8266
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root
